{% extends "comon.html" %}



{% block content_2 %}
{% endblock %}


{% block content %}

<div class="container text-center"  id="id1" >
  <p>
      Q&B - компания опытных специалистов, объединенных одной идеей, опыт которых позволяет организовывать процесс ремонта, от приемки квартиры от застройщика и
разработки дизайн-проекта до клининга помещения и ввода его в эксплуатацию, максимально быстро и качественно.
Комплексный подход к ремонту - наше конкурентное преимущество.
Большая партнерская база и знание рынка делает ремонт наших Клиентов выгодным.
Профессиональный инструмент и опытные специалисты, прошедшие должное обучение, делают его качественным.
Постоянный анализ конкурентов и рынка делают наше предложение оптимальным. А системный подход в организации проведения работ дают им разумные сроки.
Мы всегда открыты к новым направлениям развития, предложениям, партнерским отношениям, технологиям и инновациям.
  </p>
</div>


<h1 class="text-center">Cертификаты</h1>


<div class="image__wrapper" align="center" >
    <img src='../static/images/az.jpg' class="minimized" alt="клик для увеличения" />
    <img src='../static/images/df.jpg' class="minimized" alt="клик для увеличения" />
    <img src='../static/images/46.jpg' class="minimized" alt="клик для увеличения" />
    <img src='../static/images/me.jpg' class="minimized" alt="клик для увеличения" />
    <img src='../static/images/un.jpg' class="minimized" alt="клик для увеличения" />
</div>


<h1 class="text-center">Наши партнеры</h1>


<div class="container" align="center" id="par">
    <div class="row">
        <div class=" col-lg-3 col-md-4 col-6 thumb">
                <img class="img-fluid" src="../static/images/q2.jpg" alt="">
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
                <img class="img-fluid" src="../static/images/q3.jpg" alt="">
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
                <img class="img-fluid" src="../static/images/q4.png" alt="">
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
                <img class="img-fluid" src="../static/images/q5.png" alt="">
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
                <img class="img-fluid" src="../static/images/q6.png" alt="">
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
                <img class="img-fluid" src="../static/images/q7.jpg" alt="">
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
                <img class="img-fluid" src="../static/images/q8.png" alt="">
        </div>
    </div>
</div>





{% endblock %}