{% extends "comon.html" %}



{% block content_2 %}

{% endblock %}


{% block content %}





<div class="container" align="center">
    <h1 class="text-center">Наши объекты</h1>
    <div class="row">
        <div class=" col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="../static/images/bi.jpg">
                <img class="img-fluid" src="../static/images/bi.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="../static/images/mi.jpg">
                <img class="img-fluid" src="../static/images/mi.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="../static/images/na.jpg">
                <img class="img-fluid" src="../static/images/na.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="../static/images/q1.jpg">
                <img class="img-fluid" src="../static/images/q1.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="../static/images/q2.jpg">
                <img class="img-fluid" src="../static/images/q2.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="../static/images/q3.jpg">
                <img class="img-fluid" src="../static/images/q3.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="../static/images/q7.jpg">
                <img class="img-fluid" src="../static/images/q7.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="../static/images/ro.jpg">
                <img class="img-fluid" src="../static/images/ro.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="../static/images/ryu.jpg">
                <img class="img-fluid" src="../static/images/ryu.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="../static/images/img_10.jpg">
                <img class="img-fluid" src="../static/images/img_10.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="../static/images/img_11.jpg">
                <img class="img-fluid" src="../static/images/img_11.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="../static/images/img_12.jpg">
                <img class="img-fluid" src="../static/images/img_12.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="../static/images/img_13.jpg">
                <img class="img-fluid" src="../static/images/img_13.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="../static/images/img_14.jpg">
                <img class="img-fluid" src="../static/images/img_14.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="../static/images/img_15.jpg">
                <img class="img-fluid" src="../static/images/img_15.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="../static/images/img_16.jpg">
                <img class="img-fluid" src="../static/images/img_16.jpg" alt="">
            </a>
        </div>

    </div>
</div>



{% endblock %}