{% extends "comon.html" %}


{% block content_2 %}
{% endblock %}



{% block content %}

    <div class="benefits">
    <div class="benefits__inner">

        <div class="benefits__element">
            <img class="benefits__icon" src="../static/images/workers.svg" alt="Сотрудники">
            <p class="benefits__number">100</p>
            <p class="benefits__title">Сотрудников</p>
        </div>
        <div class="benefits__element">
            <img class="benefits__icon" src="../static/images/projects.svg" alt="Проекты">
            <p class="benefits__number">500</p>
            <p class="benefits__title">Выполненных объектов</p>
        </div>
        <div class="benefits__element">
            <img class="benefits__icon" src="../static/images/calendar.svg" alt="Опыт">
            <p class="benefits__number">12</p>
            <p class="benefits__title">лет в сфере строительства</p>
        </div>
    </div>
</div>


<div class="container" >
    <div class="row" >
        <div class="col-3" >
            <div class="" id="q2" >
                 <img class="benefits__icon" src="../static/images/workers.svg" alt="Сотрудники">
            </div>
        </div>
        <div class="col-9" >
            <div class="" id="q1">
               <p > Комплексное решение
                Наши Клиенты могут позволить себе не тратить время на организационные моменты (вывоз строительного мусора, поиск грузчиков). Мы сделаем это за Вас.
              </p>
            </div>
        </div>
        <div class="col-3">
            <div class="" id="q2">
             <img class="benefits__icon" src="../static/images/projects.svg" alt="Проекты">
            </div>
        </div>
        <div class="col-9">
            <div class="" id="q1">
                <p>Удобный график
                Мы можем подстроиться под любой временной рабочий интервал. Магазины в работающих ТЦ мы делаем в ночные смены, "косметику" в работающих офисах - в вечернее время и выходные дни, а "горящие" объекты - в 3 смены.
                </p>
            </div>
        </div>
         <div class="col-3">
            <div class="" id="q2">
             <img class="benefits__icon" src="../static/images/projects.svg" alt="Проекты">
            </div>
        </div>
         <div class="col-9">
            <div class="" id="q1">
                <p>Удобный график
                Мы можем подстроиться под любой временной рабочий интервал. Магазины в работающих ТЦ мы делаем в ночные смены, "косметику" в работающих офисах - в вечернее время и выходные дни, а "горящие" объекты - в 3 смены.
                </p>
            </div>
        </div>
         <div class="col-3">
            <div class="" id="q2">
             <img class="benefits__icon" src="../static/images/projects.svg" alt="Проекты">
            </div>
        </div>
         <div class="col-9">
            <div class="" id="q1">
                <p>Удобный график
                Мы можем подстроиться под любой временной рабочий интервал. Магазины в работающих ТЦ мы делаем в ночные смены, "косметику" в работающих офисах - в вечернее время и выходные дни, а "горящие" объекты - в 3 смены.
                </p>
            </div>
        </div>
    </div>
</div>














<h1 class="text-center">Наши клиенты</h1>

<div class="container" align="center" id="par2">
    <div class="row">
        <div class=" col-lg-2 col-md-4 col-6 thumb">
                <img class="img-fluid" src="../static/images/11123qe/w1.png" alt="">
        </div>
        <div class="col-lg-2 col-md-4 col-6 thumb">
                <img class="img-fluid" src="../static/images/11123qe/w2.jpg" alt="">
        </div>
        <div class="col-lg-2 col-md-4 col-6 thumb">
                <img class="img-fluid" src="../static/images/11123qe/w3.jpg" alt="">
        </div>
        <div class="col-lg-2 col-md-4 col-6 thumb">
                <img class="img-fluid" src="../static/images/11123qe/w4.png" alt="">
        </div>
        <div class="col-lg-2 col-md-4 col-6 thumb">
                <img class="img-fluid" src="../static/images/11123qe/w5.png" alt="">
        </div>
        <div class="col-lg-2 col-md-4 col-6 thumb">
                <img class="img-fluid" src="../static/images/11123qe/w6.jpg" alt="">
        </div>
        <div class="col-lg-2 col-md-4 col-6 thumb">
                <img class="img-fluid" src="../static/images/11123qe/w7.jpg" alt="">
        </div>
         <div class="col-lg-2 col-md-4 col-6 thumb">
                <img class="img-fluid" src="../static/images/11123qe/w8.png" alt="">
        </div>
         <div class="col-lg-2 col-md-4 col-6 thumb">
                <img class="img-fluid" src="../static/images/11123qe/w9.png" alt="">
        </div>
         <div class="col-lg-2 col-md-4 col-6 thumb">
                <img class="img-fluid" src="../static/images/11123qe/w10.png" alt="">
        </div>
         <div class="col-lg-2 col-md-4 col-6 thumb">
                <img class="img-fluid" src="../static/images/11123qe/w11.png" alt="">
        </div>
    </div>
</div>









{% endblock %}

