{% extends "comon.html" %}


{% block content %}

<div class="wrapper">
  <h3 id="h">НАПРАВЛЕНИЯ КОМПАНИИ Q&B</h3>
  <div class="cols">
            <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                    <div class="front" style="background-image: url(../static/images/ry.jpg)">
                        <div class="inner">
                            <p>приемка качества недвижимости</p>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                          <p>Вы можете получить качественную приемку квартиры и другой недвижимости или необходимую консультацию и сделать это самостоятельно</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                    <div class="front" style="background-image: url(../static/images/ry.jpg)">
                        <div class="inner">
                            <p>дизайн</p>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p>Разработка архитектурных решений и дизайн-проектов с их дальнейшей реализацией.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                    <div class="front" style="background-image: url(../static/images/ry.jpg)">
                        <div class="inner">
                            <p>ремонт жилых помещений</p>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p>Мы оказываем услуги по комплексному, частичному и косметическому ремонту квартир и коттеджей.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                    <div class="front" style="background-image: url(../static/images/ry.jpg)">
                        <div class="inner">
                            <p>ремонт коммерческой недвижимости</p>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p>Услуги по отделке и ремонту магазинов, офисов и складов, а также их подготовка к продаже или под сдачу</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                    <div class="front" style="background-image: url(../static/images/ry.jpg)">
                        <div class="inner">
                            <p>HOMESTAGING предпродажная подготовка</p>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p>Подготовка коммерческой и жилой недвижимости к продаже или сдаче в аренду</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 </div>










{% endblock %}